*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/AXIFORMA-BLACK.TTF");
  src: url("../fonts/AXIFORMA-BOLD.TTF");
  src: url("../fonts/AXIFORMA-BOOK.TTF");
  src: url("../fonts/AXIFORMA-EXTRABOLD.TTF");
  src: url("../fonts/AXIFORMA-HEAVY.TTF");
  src: url("../fonts/AXIFORMA-LIGHT.TTF");
  src: url("../fonts/AXIFORMA-MEDIUM.TTF");
  src: url("../fonts/AXIFORMA-SEMIBOLD.TTF");
  src: url("../fonts/AXIFORMA-THIN.TTF");
  src: url("../fonts/AXIFORMA-REGULAR.TTF");
  font-style: normal;
}

footer,
header,
aside {
  display: block;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Axiforma";
  height: 100%;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  user-select: none;
  background-color: white;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-outer {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ol,
ul {
  padding: 0;
}
ul li {
  list-style: none;
  padding: 0;
}

img {
  vertical-align: top;
  max-width: 100%;
}

p {
  font-size: 16px;
  margin: 0;
  color: #013a35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Axiforma";
  margin: 0;
}

/* Container */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 150px;
  height: auto;
  object-fit: cover;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

.nav-group {
  transform: translateY(-150%);
}
.nav-group.show {
  position: absolute;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 61%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 40px;
  line-height: 1.5;
  transition: all 0.4s ease-in-out;
  transform: translateY(0);
  z-index: 1;
}
.nav-item {
  backdrop-filter: blur(10px);
  width: 90%;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-item li {
  margin-bottom: 10px;
}
.nav-group.show .logo span {
  color: white;
}
.nav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 200ms linear;
  transform: translate(0);
  border-bottom: 2px solid transparent;
  transition: all ease 0.4s;
}
.nav-link:hover {
  border-bottom: 2px solid white;
  transition: all ease 0.4s;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 95%);
  z-index: 20;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 720px;
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  text-align: center;
  padding: 70px;
  border-radius: 3px;
  transition: 0.3s all;
  backdrop-filter: blur(20px);
  background: #78737340;
  border-radius: 6px;
}
.modal h2,
.modal span {
  color: #ffffffc9;
}
.modal-wrapper__items {
  display: flex;
  justify-content: space-evenly;
  padding: 70px 0 20px;
}
.call-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.call-item img {
  height: auto;
  width: 50px;
}
.modal span {
  color: #ffffffc9;
  font-size: 16px;
  padding-top: 20px;
}
.call-item:hover span {
  color: white;
  transition: all ease 0.4s;
}

.modal.showmodal,
.overlay.showmodal {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: white;
  cursor: pointer;
}
.modal__cross-2 {
  fill: #6c757d;
  border: 1px solid #6c757d;
  padding: 8px 0px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Navigation    */

.nav {
  position: absolute;
  width: 100%;
}
.nav-wrap-main {
  position: relative;
}
.nav-main {
  position: absolute;
  top: 0px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 5%;
  right: 5%;
  z-index: 2;
}

.burger-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
}
.burger-icon__line,
.burger-icon__line-white {
  height: 2px;
  width: 30px;
  display: block;
  background: #efb809;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, background-color 0.5s ease;
  transition: transform 0.2s ease, background-color 0.5s ease,
    -webkit-transform 0.2s ease;
}
.burger-icon__line-left {
  width: 16.5px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.burger-icon__line-right {
  width: 16.5px;
  float: right;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.burger-icon:hover .burger-icon__line-left,
.burger-icon:hover .burger-icon__line-right {
  width: 30px;
}

.burger-icon.show-menu .burger-icon__line,
.burger-icon.show-menu .burger-icon__line-white {
  background-color: #efb809;
  -webkit-transform: translate(0px, 0px) rotate(-45deg);
  transform: translate(0px, 0px) rotate(-45deg);
}
.burger-icon.show-menu .burger-icon__line-left {
  width: 15px;
  -webkit-transform: translate(2px, 4px) rotate(45deg);
  transform: translate(2px, 4px) rotate(45deg);
}
.burger-icon.show-menu .burger-icon__line-right {
  width: 15px;
  -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
  transform: translate(-3px, -3.5px) rotate(45deg);
}

/*     main  page   styles  slyder */

.header {
  background: linear-gradient(0deg, #dee2e6, #dee2e6);
}

.slideshow-body {
  height: 100vh;
  display: grid;
  place-content: center;
}

.slideshow-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.slideshow-wrapper {
  position: absolute;
  display: flex;
  height: 100%;
  width: 300%;
  left: -200%;
  animation: slides 10s ease-in-out infinite;
}

.slideshow-img-container {
  height: 100%;
  width: 100%;
}

.slideshow-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slides {
  0% {
    left: 0%;
  }

  16.6% {
    left: 0%;
  }

  33% {
    left: -100%;
  }

  50% {
    left: -100%;
  }

  66.6% {
    left: -200%;
  }

  83% {
    left: -200%;
  }

  100% {
    left: 0;
  }
}

.slide {
  width: 100%;
  display: none;
  animation-name: fade;
  animation-duration: 0.2s;
}

.almata,
.tashkent,
.kapadokiya {
  background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)),
    url("../img/almata.jpg");

  background-position: center;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
}
.kapadokiya {
  background-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%)),
    url("../img/kapadok.jpg");
}
.tashkent {
  background-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%)),
    url("../img/tashkent.jpg");
}

.slide-content {
  display: flex;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 0.4;
  }
}

.controls {
  border: 1px solid rgb(0 0 0 / 40%);
  padding: 10px 0;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 29.5em;
}
.controls:hover {
  background-color: #ffffff38;
  transition: all ease 0.5s;
}
.controls img {
  padding: 10px 16px;
}

#left-arrow {
  left: 10em;
  cursor: pointer;
}

#right-arrow {
  right: 10em;
  cursor: pointer;
}

.active {
  background: transparent;
}

.slideshow-info {
  text-align: center;
}
.slideshow-title {
  font-weight: 400;
  font-size: 64px;
  color: white;
  margin-bottom: 20px;
}

.slider-desc {
  font-size: 20px;
  text-transform: lowercase;
  margin: 25px 0 40px;
  color: white;
}

.slider-btn {
  padding: 14px 19px;
  border: 1px solid white;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  transform: scale(1);
}
.slider-btn:hover {
  transition: all ease 0.5s;
  transform: scale(2);
  background-color: #ffffff38;
}

/* main page   */

.main-content {
  margin: 5em 0;
}

.main-content__info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 3em 0 10em;
}
.main-content__desc p {
  padding: 20px;
  font-size: 14px;
  color: #1a202c;
}
.main-content__desc {
  width: 24%;
}
.about-company__title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  color: #1a202c;
  text-align: center;
  margin-bottom: 2em;
  position: relative;
}
.about-company__title::after {
  content: "";
  border-bottom: 4px solid #efb809;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 170px;
}
.about-company__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-company__item {
  width: 32%;
  font-size: 16px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 34%);
  border-radius: 5px;
  margin-bottom: 50px;
  transform: scale(1);
  padding: 20px 10px;
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
}

.about-company__item img {
  border-radius: 6px;
}
.about-company__item span {
  border-bottom: 1px solid #80808070;
  width: 100%;
  height: 2px;
  display: inline-block;
}
.about-company__item h3 {
  font-size: 16px;
  padding: 40px 0 0px;
  color: #efb809;
  font-weight: 600;
}
.about-company__item:hover {
  transform: scale(1.01);
  transition: all ease 0.5s;
}
.about-company__item p {
  padding: 20px 10px;
  font-size: 14px;
  color: #1a202c;
  flex: 1;
}
.about-company__btn {
  background: #efb809;
  color: #1a202c;
  padding: 10px 80px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  transition: all ease 0.5s;
}
.about-company__btn:hover {
  background: #efb809c4;
  transition: all ease-in 0.5s;
}
.about-company__item img {
  display: block;
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
  object-fit: cover;
}

/*   our tourist */

.icons {
  height: 40px;
}
.our-tourist {
  margin: 8em 0;
}
.gallery-tourist {
  padding: 2px;
  flex-flow: row wrap;
  display: flex;
}
.gallery-tourist div {
  flex: auto;
  width: 400px;
  margin: 3px;
 overflow: hidden;
}
.gallery-tourist div img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transform: scale3d(1, 1, 1);
  transition: all ease-in 0.5s;
}
.gallery-tourist img:hover{
  transform: scale3d(1.2,1.2,1);
  transition: all ease-in 0.5s;
}


/*    couples  */

.couples-main {
  background: #1a202c;
  margin: 120px 0 0;
  padding: 100px 0;
}

.couples {
  justify-content: space-evenly;
}
.couples-item {
  width: 40%;
  transform: scale(1);
  transition: all ease 0.5s;
}
.couples-item:hover {
  transform: scale(0.98);
  transition: all ease 0.5s;
}
.couples-item p,
.couples-item a,
.couples-main .about-company__title {
  color: whitesmoke;
}
.couples .about-company__btn {
  padding: 10px 100px;
}

/* Reviews */

.reviews {
  background-color: #b8d8d8;
  padding: 100px 0;
  margin-bottom: 8em;
}

.reviews__title {
  margin: 0 0 40px 0;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

/* Slides */
.container-slyder {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

#slider {
  border-radius: 15px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.slide {
  width: 100%;
  display: none;
  animation-name: fade;
  animation-duration: 1s;
}

.slide-content {
  display: flex;
  height: 380px;
}

.slider-img {
  width: 50%;
  height: auto;
  min-height: 300px;
}
.slider-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  text-align: center;
  background: white;
  padding: 0 25px;
}
.slide-desc p {
  font-weight: 600;
}
blockquote {
  font-size: 16px;
  margin-bottom: 22px;
}

blockquote span {
  font-weight: 600;
}

.main-reviews{
  animation-name: fade;
  animation-duration: 0.4s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.controls:active {
  color: grey;
}

#left-arrow {
  left: 10px;
  cursor: pointer;
}

#right-arrow {
  right: 10px;
  cursor: pointer;
}

.active {
  background: transparent;
}

/*    new  destination */

.new-dest__item {
  margin-top: 60px;
  position: relative;
  height: 350px;
  overflow: hidden;
}
.new-dest__item::after {
  position: absolute;
  top: 0;
  left: -10em;
  z-index: 1;
}
.new-dest__info {
  max-width: 500px;
  position: absolute;
  top: 40%;
  left: 60px;
  color: whitesmoke;
}
.new-dest__title {
  font-size: 40px;
}
.new-dest__info p {
  color: whitesmoke;
  padding-bottom: 30px;
}
.new-dest-wrap {
  margin: 100px 0 0;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.about-item {
  width: 48%;
}
.about-subdesc {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(27, 21, 21, 0.85);
  padding: 30px 0;
}

.about-subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(27, 21, 21, 0.85);
}

.about-top-img,
.about-bottom-img {
  padding-bottom: 60px;
  z-index: 1;
}

.about-item::before {
  content: url("../img/main-page-img/about-kvadrat.jpg");
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: -1;
}
.about-item::after {
  content: url("../img/main-page-img/about-kvadrat.jpg");
  position: absolute;
  bottom: 21px;
  left: -40px;
  z-index: -1;
}

/*  footer section     //////////////////////////////////////////////////*/

.footer {
  background: #1a202c;
  padding: 100px 0 0 0;
  border-top: 1px solid whitesmoke;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-form {
  display: flex;
  flex-direction: column;
}
.footer-form input {
  background: transparent;
  font-size: 16px;
  color: whitesmoke;
  border: none;
  border-bottom: 1px solid whitesmoke;
  padding: 14px 0px 14px 10px;
  margin-bottom: 30px;
}
.footer-form ::placeholder {
  color: whitesmoke;
}
.footer-item {
  display: flex;
  width: 24%;
  flex-direction: column;
}
.footer-item a {
  padding-bottom: 16px;
  color: #d3d0d0;
  font-size: 18px;
  transition: ease 0.5s;
}
.footer-item a:hover {
  color: #efb809;
}
.footer-title {
  font-size: 28px;
  font-weight: 600;
  color: whitesmoke;
  padding-bottom: 30px;
}
.form-footer {
  padding: 8px 0;
  font-size: 18px;
  background-color: white;
  transition: ease 0.5s;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
}
.form-footer:hover {
  background-color: #e4d044;
  transition: ease 0.5s;
  border: none;
}
.footer-down {
  padding: 30px 0 15px 0;
  color: whitesmoke;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid;
  margin-top: 60px;
}

.company {
  padding: 13em 0 5em;
}
.company-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11em;
  align-items: center;
  position: relative;
}
.company-item::after {
  content: "";
  position: absolute;
}
.company-item__desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.company-item__img {
  width: 45%;
}

.company-item__desc h3 {
  font-size: 30px;
  font-weight: 600;
  color: #1a202c;
  padding-bottom: 30px;
}
.company-item__desc p,
.company-gallery p {
  color: #1a202c;
  padding-bottom: 15px;
}
.company-gallery p {
  font-size: 20px;
  padding: 10px 0 40px;
  text-align: center;
}

.gallery {
  max-width: 100%;
}

.gallery {
  padding: 2px;
  flex-flow: row wrap;
  display: flex;
}

.gallery div {
  flex: auto;
  width: 400px;
  margin: 3px;
}

.gallery div img {
  width: 100%;
  height: 300px;
}

/*Grayscale*/

.gallery img {
  filter: grayscale(100%);
  filter: saturate(0);
  transition: all 0.3s ease;
  /*   box-shadow: 2px 2px 5px; */
}

.gallery img:hover {
  filter: grayscale(0);
  filter: saturate(1.5);
  box-shadow: 0px 0px 5px;
}

.gallery-img {
  display: flex;
  padding-top: 3em;
}

.gallery-img img {
  width: 25%;
  height: auto;
  object-fit: cover;
}

.tours {
  padding: 12em 0 0em;
}
.tours img {
  border-radius: 5px 5px 0px 0;
}
.tour {
  margin-bottom: 150px;
  border-bottom: 2px solid #efb809;
  padding-bottom: 60px;
}

/*   сontacts   styless */

.contacts {
  padding: 15em 0 9em;
  color: black;
}

.contacts-title {
  font-weight: 400;
  font-size: 40px;
  color: black;
}
.contacts-desc {
  padding: 20px 0 50px;
  color: black;
}
.contacts-form input {
  border: none;
  border-bottom: 1px solid #54595e;
  padding: 8px 0 8px 10px;
  font-size: 16px;
  color: black;
  margin-bottom: 50px;
  width: 90%;
}
.contacts-form input::-webkit-input-placeholder {
  color: black;
 } 
 .contacts-form input::-moz-placeholder {
  color: black;
 }
.contacts-form button {
  border: 1px solid transparent;
  font-size: 16px;
  color: #54595e;
  background-color: #efb809;
  border-radius: 6px;
  padding: 10px 30px;
  transition: all ease 0.5s;
}
.contacts-form button:hover {
  background-color: #efb809ad;
  border: 1px solid #efb809;
  transition: all ease 0.5s;
}
.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts-item {
  width: 40%;
}

.contacts-subitem {
  display: flex;
  justify-content: space-between;
}

.contacts-subitem a {
  color: #a5a5a5;
  font-size: 16px;
}
.contacts-subitem a:hover {
  color: #efb809;
  transition: all ease 0.4s;
}

.contacts-link {
  margin: 40px 0;
}
.social-wrap {
  padding-top: 48px;
}
.contacts-subitem span {
  color: #013a35;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.social-link__contacts {
  display: flex;
  align-items: center;
}
.social-link__contacts img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 97%;
  }
  .modal h2 {
    color: #ffffffc9;
    font-size: 16px;
  }
  .nav-link {
    font-size: 25px;
  }
  .modal {
    padding: 65px;
  }
  .about-company__btn {
    padding: 8px 50px;
  }
  .logo {
    width: 120px;
  }
  .company-item__desc p,
  .company-gallery p {
    font-size: 14px;
  }
  .call-item img {
    width: 35px;
  }
  .modal span {
    font-size: 12px;
  }
  .slideshow-title {
    font-weight: 400;
    font-size: 35px;
  }
  .controls {
    top: 23em;
  }
  #right-arrow {
    right: 7em;
  }
  #left-arrow {
    left: 7em;
  }
  .about-company__title {
    font-size: 30px;
  }
  .main-content__info{
    flex-direction: column;
    margin: 3em 0;
  }
.about-company__wrapper {
    margin: 3em 0;
}
  .main-content__desc {
    margin-bottom: 30px;
  }
  .about-company__item {
    width: 95%;
  }
  .new-dest__item {
    height: auto;
  }
  .new-dest__info {
    left: 0;
    top: 15%;
    text-align: center;
  }
  .couples .about-company__btn {
    padding: 10px 80px;
  }
  .main-content__desc {
    width: 100%;
  }
  .reviews {
    padding: 60px 0 180px;
  }
  .slide-content {
    flex-direction: column;
    height: 250px;
    justify-content: center;
  }
  blockquote {
    font-size: 14px;
  }
  .slider-img {
    display: none;
  }
  .slide-desc {
    width: 100%;
  }
  .slide-desc {
    padding: 20px;
    background-color: transparent;
  }
  .new-dest__title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .footer-title {
    font-size: 22px;
  }
  .footer-item {
    margin-bottom: 35px;
    width: 100%;
  }
  .footer-form {
    width: 90%;
    margin: 0 auto;
  }
  .footer-down {
    margin-top: 20px;
  }
  .contacts {
    padding: 12em 0 5em;
    text-align: center;
  }
  .contacts-wrapper,
  .contacts-subitem {
    flex-direction: column-reverse;
    text-align: center;
  }
  .contacts-item {
    width: 100%;
  }
  .social-link__contacts {
    justify-content: center;
  }
  .tour {
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px;
  }
  .company {
    padding: 11em 0 2em;
  }
  .company-item {
    flex-direction: column;
    margin-bottom: 5em;
  }
  .company-item__desc {
    width: 100%;
    margin: 12px 0;
  }
  .company-item__img {
    width: 100%;
  }
  .company-item__desc h3 {
    font-size: 25px;
    padding-bottom: 18px;
  }
  .almata,
.tashkent,
.kapadokiya{
  background-attachment:scroll;
}
}
